[[language]]
name = "python"
language-servers = [ "pyright", "ruff" ]
formatter = { command = "ruff", args = ["format", "--line-length", "100", "-"] }
auto-format = true
[language-server.ruff]
command = "ruff"
args = ["server"]
